a[href^="#ref-"]:before {
  content: prince-script(ref-footnote, attr(href));
  float: footnote;
  footnote-style-position: inside;
  font-size: 0.75em;
  padding-left: 90px;
}

a[href^="#ref-"]:before::footnote-call {
  content: "";
}

a[href^="#ref-"]:before::footnote-marker {
  content: "[" target-counter(attr(href), reference) "] ";
  display: inline-block;
  width: 3em;
}

table td a[href^="#ref-"]:before,
table th a[href^="#ref-"]:before {
  font-size: 0.85em;
  font-weight: normal;
}

figcaption a[href^="#ref-"]:before {
  font-size: 1em;
  text-align: left;
}

a[href^="#ref-"]:after {
  content: " [" target-counter(attr(href), reference) "]";
}

*[id^="ref-"] {
  counter-increment: reference;
}

*[id^="ref-"]:before {
  content: "[" counter(reference) "] ";
}

.reference-item {
  text-align: left;
}

.retreived {
  white-space: nowrap;

  &:before {
    content: '(abgerufen am ';
  }

  &:after {
    content: ')';
  }
}
