<section style="text-align: left">
  <h1>Thermo Trains</h1>
  <h4>Automatische Detektion von Isolationsproblemen an fahrenden Zügen</h4>

  <p>
    <small>Raphael Laubscher, Sebastian Häni</small>
  </p>
</section>


{% include "parts/einleitung.html" %}
{% include "parts/pipeline.html" %}

<section style="text-align: left">
  <h2>Rückblick und Ausblick</h2>

  <div class="fragment highlight-current-blue">
    <ul>
      <li>Schärfen Projektidee<br>
        <small>Koordination mit SBB</small><br>
        <small>Abklärungen</small>
      </li>
    </ul>
  </div>

  <div class="fragment highlight-current-blue">
    <ul>
      <li>Panorama-Stitching<br>
        <small>Pipeline</small>
      </li>
    </ul>
  </div>
  <hr>
  <div class="fragment highlight-current-blue">
    <ul>
      <li>Trainingsdaten sammeln<br>
        <small>mit Wärmebildkamera</small>
      </li>
    </ul>
  </div>

  <div class="fragment highlight-current-blue">
    <ul>
      <li>Klassifizieren</li>
    </ul>
  </div>

</section>

<section style="text-align: left;">
  <h1>THE END</h1>
  <p>
    <a href="https://sebastianhaeni.github.io/thermotrains">Docs &amp; Slides</a><br>
    <small>&rarr; https://sebastianhaeni.github.io/thermotrains</small>
  </p>

  <img src="images/pipeline/pano.jpg" class="pano-scroll">

</section>
