<section style="text-align: left">
  <h1>Thermo Trains</h1>
  <h4>Automatische Detektion von Isolationsproblemen an fahrenden Zügen</h4>

  <p>
    <small>Sebastian Häni, Raphael Laubscher</small>
  </p>
</section>

{% include "parts/1-einleitung.html" %}
{% include "parts/2-thermobox.html" %}
{% include "parts/3-testaufnahmen.html" %}
{% include "parts/4-software.html" %}
{% include "parts/5-pipeline.html" %}
{% include "parts/6-ausblick.html" %}

<section style="text-align: left;">
  <h1>THE END</h1>

  <img src="images/pipeline/pano.jpg" class="pano-scroll">

</section>
