<section style="text-align: left">
  <h1>Thermo Trains</h1>
  <h4>Raumunterteilende Datenstrukturen</h4>

  <p>
    <small>by Raphael Laubscher, Sebastian Häni</small>
  </p>
</section>


{% include "parts/einleitung.html" %}
{% include "parts/binary-space-partitioning.html" %}
{% include "parts/orthogonale-bereichsuche.html" %}
{% include "parts/windowing.html" %}


<section style="text-align: left">
  <h2>What have we learned?</h2>

  <div class="fragment highlight-current-blue">
    <p>Binary Space Partitioning</p>
    <small>Painters Algorithm, BSP Tree</small>
  </div>

  <div class="fragment highlight-current-blue">
    <p>Orthogonale Bereichsuche</p>
    <small>Datenbank Bereichsuche, Kd Tree</small>
  </div>

  <div class="fragment highlight-current-blue">
    <p>Windowing</p>
    <small>Interval Tree, R-Tree</small>
  </div>
</section>

<section style="text-align: left;">
  <h1>THE END</h1>
  <p>
    <a href="https://github.com/sebastianhaeni/space-partitioning">Source code &amp; documentation</a>
    <small>https://github.com/sebastianhaeni/space-partitioning</small>
  </p>
</section>
