<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Emgu.CV.World" publicKeyToken="7281126722ab4438" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.2721" newVersion="3.2.0.2721" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>